---
export interface Props {
    class?: string;
}

const { class: className = "" } = Astro.props;
---

<p
    class={`text-lg leading-relaxed text-base-light mb-8 text-justify px-2 ${className}`}
>
    <slot />
</p>
